@font-face {
    font-family: 'CursedTimer';
    src: url(./fonts/CursedTimerUlil-Aznm.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
#bg-video{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
body{
    text-align: center;
    background-color: rgb(215, 215, 243);
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: #1B244A;
    border-radius: 10px;
    padding: 20px;
    color: #ffff;
    
    margin: 50px auto;
    width: 500px;
    height: 400px;
    text-align: center;
    font-family: Verdana,'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: bold;
    
    
}
.main-content {
    
}
.scores h1 {
    text-align: center;
    width: 100%;
}

.scores {
    display:flex;
    justify-content: space-between;
    gap: 5px;
}

.team {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.buttom-group{
    display: flex;
    
    justify-content: center;
    margin-top: 10px;
}

.team button {
    font-family: 'CursedTimer', monospace;
    background-color: #1B244A;
    border: 1px, solid, #9AABD8;
    border-radius: 2px;
    color: #9AABD8;
    cursor: pointer;
    padding: 6px;
    margin: 2px;

}

.home-score, .guest-score {
    background-color: #080001;
    color: red;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    bottom: 25px;
    padding: 10px;
    margin: 15px;
    font-family: 'CursedTimer', monospace;
    font-size: larger;

}
#reset-scores{
    background-color: #1B244A;
    color: #9AABD8;
    border: 1px, solid, #9AABD8 ;
    font-family: 'CursedTimer', monospace;
    padding: 10px;
    cursor: pointer;
    margin: 8px;

}
#reset-scores:hover {
    background-color: #6d91fb;
}